body {
    font-family: Verdana;
}

#traka {
    width: 100%;
    height: 60px;
    background-color: white;
}

#tekst-dno {
    size: 2px;
    color: #808080;
}

#traka-naslov {
    font-size: 40pt;
}

#strana {
    background-color: lightgray;
    padding: 20px 40px 20px 40px;
}

#info-text {
    text-align: justify;
    /*max-width: 800px;*/
    margin: 0;
    padding-top: 20px;
}

#doborsli-text {
    font-size: 22pt;
    text-align: center;
    padding-bottom: 20px;
}

#galerija {
    /*height: 300px;*/
    height: auto;
    width: 100%;
    /*background-color: red;*/
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}